/* =+=+=+=+=+=+=+=+=+ */
/* EI SYSTEMS STYLING */
/* DECEMBER 2016      */
/* =+=+=+=+=+=+=+=+=+ */

/* APP CONTAINER STYLING */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

#appContainer {
  width: 100%
}

/* HOME PAGE STYLING */

#homeContainer {
  width: 100%
}

#homeLogoContainer {
  width: 100%;
  background: #393d40;
  height: 100vh
}

#homeLogoContainer img {
  padding-top: 18%;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 450px;
  height: auto
}



/* PAGE STYLING  - CONTAINERS */

/* TODO: ONCE PROJECT GETS CLOSER, CHANGE THIS HEIGHT DEFINITION */

#homeWorkContainer,#homeAboutContainer,#homeContactContainer,#workSpotlightContainer,#workLayoutContainer,#workTestimonialContainer, #teamShowcaseContainer, #teamInfoContainer, #teamListContainer {
  display: block;
  width: 100%;
  height: 600px;
  padding-top: 100px
}

#homePartnersContainer, #workTestimonialContainer {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 60px
}

#homeAboutContainer {
  background: #536EBF;
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto
}

#homeWorkContainer {
  height: auto;
  padding-bottom: 100px
}

#workLiveContainer {
  padding: 130px 0px;
  height: auto;
}

#contactFormContainer {
  display: block;
  width: 100%;
  padding-top: 150px
}

#homeWorkContainer, #workLayoutContainer, #teamInfoContainer {
  background: #f6f8f8
}

#workTestimonialContainer {
  background: orange;
  color: white
}

#homeWorkContainer {
  background: url('./images/lifestyle-project-work.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
  line-height: 2em
}

#homeContactContainer {
  color: white;
  height: 570px;
  background: url('./images/lv_night.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px
}

#homeContactContent {
  opacity: 1;
}

#homeContactContainer h1 {
  padding-top: 100px;
}

.homeWorkContent, .homeAboutContent, .homeContactContent,
.workSpotlightContent, .workLayoutContent, .workLiveContent,
.workTestimonialContent, .teamShowcaseContent, .teamInfoContent,
.teamListContent, .contactFormContent {
  width: 100%;
  margin: 0 auto;
  text-align: center
}

.homePartnersContent {
  width: 100%;
  margin: 0 auto;
}

/* HEADER COMPONENT STYLING */

#siteLogo {
  color: orange;
  line-height: 37px;
  padding: 0px;
  padding-top: 10px;
  padding-left: 15px;
  opacity: 0
}

#siteLogo img {
  width: 285px
}

.partnerLogos {
  margin-bottom: 60px
}

@media screen and (min-width: 992px) {
  .partnerLogos {
    margin-top: -40px
  }

  .partnersContainer {
    opacity: 0;
    padding-top: 80px
  }
}

.kaleidescapeLogo, .lutronLogo, .triadLogo, .crestronLogo {
  width: 25%;
  display: inline-block!important;
  margin: 30px 0px
}

.crestronLogo {
  width:35%
}

.triadLogo {
  margin-left: 70px
}

.lutronLogo {
  width:45%;
  padding-left: 100px;
  margin-bottom: 35px
}

.kaleidescapeLogo {
  vertical-align: bottom;
  margin-left: 60px
}


#headerNavLinks, #headerNavLinks a {
  color: #183EB2;
  height: 80px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 40px
}

#headerNavLinks a:hover {
text-decoration: none;
border-bottom: 3px solid #FFB900;
}

#mainNav {
  background: none;
  border: none;
  visibility: hidden
}

#mainNav #headerNavLinks a {
  visibility: visible;
  color: white
}

#displayNav {
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.93);
  border-bottom: 1px solid #e5e5e5;
  visibility: visible;
  transition: 0.25s ease
}

.navbar-right {
  font-size: 16px;
  line-height: 50px;
  padding: 0px 45px
}

/* FOOTER COMPONENT STYLING */

#footerContainer {
  background: #ddd;
  height: 70px;
  padding-top: 10px;
  color: #999
}

#footerContainer p {
  font-size: 11px
}

#footerContainer a {
  color: white
}

.nav-center {
  display: inline-block;
  float: none;
  padding-left: 200px
}

@keyframes fadeOut {
  0% {opacity: 1; visibility: visible}
  100% {opacity: 0; visibility: hidden}
}

@keyframes fadeIn {
  0% {opacity: 0; visibility: hidden}
  100% {opacity: 1; visibility: visible}
}

@keyframes slideUp {
  0% {transform: translateY(60px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 1;}
}

@keyframes slideInRight {
  0% {transform: translateX(30px); opacity: 0;}
  100% {transform: translateX(0px); opacity: 1;}
}

@keyframes slideInLeft {
  0% {transform: translateX(0px); opacity: 0;}
  100% {transform: translateX(30px); opacity: 1;}
}

/*.ei_logo {
  animation: fadeOut 0.5s 2s forwards;
}*/

#fadeInComponent {
  color: red;
  border: 20px solid green
}

.workBlurb {
color: #393d40
}

.teamBlurb {
  color: white
}

.workBlurb, .teamBlurb, .contactBlurb, .instaBlurb, .contactFormMapBlurb, .testimonialBlurb, .testimonial  {
  text-align: left;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-feature-settings: "kern";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75;
  min-height: 100%;
  position: relative
}

.attribution {
  padding-right: 3%;
  font-style: italic;
  font-weight: bold;
  margin-top: -20px
}

.testimonialBlock {
  margin: 60px 0px 60px 0px
}


.contactFormMapContainer {
  margin-top: 20px
}

.contactFormMapBlurb {
  margin-top: 20px
}

.instaBlurb {
  padding: 20px 0px
}

.contactBlurb {
  opacity: 0;
  visibility: hidden
}

.workBlurb h2 {
  color: #575a5b;
  margin-left: 20px;
}

.teamBlurb h2 {
  color: #eee;
  font-family: "Open Sans", Helvetica, Arial, sans-serif
}

.workBlurb h2, .teamBlurb h2 {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.3125em;
  margin-top: 0;
  font-size: 32px
}

.workBlurb p {
  margin-left: 20px;
  font-size: 20px;
}

.contactBlurb p, .aboutBlurb, .contactPageBlurb, .partnersBlurb {
  font-size: 20px;
  padding: 15px 0px;
  font-weight: 300
}

#instaTitle {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: right
}

.homeWorkButton {
  background: #FFB900;
  margin-top: 20px;
  margin-left: 25px;
  color: white;
  transition: 0.5s all
}

.btn.focus, .btn:focus, .btn:hover {
  color: white!important
}

.homeWorkButton:hover {
  background: #FFCE4C;
}

#homeTeamButton {
  margin-top: 10px;
  color: orange;
  padding-left: 0px;
  margin-left: 0px
}

.container .contactFormInput {
  height: 60px
}

.container label {
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px
}

.companyInfo h4 {
  margin-top: 50px;
}

#contactButton {
  background: #FFB900;
  border: 1px solid #FFB900;
  border-radius: 3px;
  color: white;
  width: 100px;
  transition: all 0.25s;
}

#contactButton:hover {
  background: #FFCE4C;
  border: 1px solid #FFCE4C
}

#contactHomeButton {
  background: #183EB2;
  border: 1px solid #183EB2;
  transition: 0.25s all
}

#contactHomeButton:hover {
  background: #2259FE;
  border: 1px solid #2259FE
}

.social-icon:hover {
  border-bottom: none!important;
}

.navSep {
  margin-right: 15px;
  color: #393d40
}

.promiseOne, .promiseTwo, .promiseThree, .promiseFour {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 150px;
  margin: 35px auto;
}

.promiseOne i, .promiseTwo i, .promiseThree i, .promiseFour i {
  line-height: 200px;
  color: #536EBF;
  font-size: 80px
}
.promiseText {
  color: white;
  line-height: 1.75em
}

.contactFormMapContent {
  text-align: left
}

.active {
  text-decoration: none;
  border-bottom: 3px solid #FFB900
}

a, a:hover, a:active, a:visited {
    text-decoration:none!important;
}

.partnersContainer h2, .homeContactLede h2, .workTestimonialLede  {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.instaTitleContainer {
  margin-bottom: 40px;
}



@media screen and (min-width: 992px) {
  .teamBlurb h2 {
    text-align: right
  }

  .homePartnersContainer {
    margin-top: 20px;
    padding-top: 100px
  }

  .partnersContainer h2 {
    text-align: right;
    margin-top: 0px;
    line-height: 1.4em
  }

  .partnersBlurb {
    border-left: 1px solid #393d40;
    padding-left: 25px;
    line-height: 1.75em;
    padding-top: 0px
  }

  .partnerLogos {
    margin-top: -120px
  }

  .workBlurb h2 {
    text-align: right;
    margin-right:20px
  }
  .aboutBlurb {
    border-left: 1px solid white;
    padding-left: 25px;
    padding-top: 0px
  }

  .promiseTop {
    margin: 40px 0px
  }

  .workBlurbGraph {
    border-left: 0.5px solid #393d40
  }

  .homeContactLede h2, .workTestimonialLede {
    text-align: right;
    margin-top: 0px;
    line-height: 1.4em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }

  .contactBlurb p {
    border-left: 1px solid white;
    padding-left: 25px;
    padding-top: 0px
  }

  #contactHomeButton {
    margin-left:25px
  }

  #instaTitle {
    margin-top: 0px
  }

  .instaBlurb {
    padding-top: 0px;
    border-left: 1px solid #393d40;
    padding-left: 25px
  }

  .testimonialBlurb {
    padding: 0px 0px 60px 25px;
    border-left: 1px solid white
  }

}
