/* =+=+=+=+=+=+=+=+=+ */
/* EI SYSTEMS STYLING */
/* DECEMBER 2016      */
/* =+=+=+=+=+=+=+=+=+ */

/* APP CONTAINER STYLING */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

#appContainer {
  width: 100%
}

/* HOME PAGE STYLING */

#homeContainer {
  width: 100%
}

#homeLogoContainer {
  width: 100%;
  background: #393d40;
  height: 100vh
}

#homeLogoContainer img {
  padding-top: 18%;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 450px;
  height: auto
}

/* PAGE STYLING  - CONTAINERS */

#homeWorkContainer,#homePartnersContainer,#homeAboutContainer,#homeContactContainer,#workSpotlightContainer,#workLayoutContainer,#workTestimonialContainer, #teamShowcaseContainer, #teamInfoContainer, #teamListContainer, #teamLocationContainer {
  display: block;
  width: 100%;
  height: 600px;
  padding-top: 100px
}

#homeAboutContainer {
  background: #06425C;
}

#workLiveContainer {
  height: auto;
}

#contactFormContainer {
  display: block;
  width: 100%;
  height: 900px;
  padding-top: 200px
}

#homeWorkContainer, #workLayoutContainer, #teamInfoContainer {
  background: #f6f8f8
}

#workTestimonialContainer, #teamLocationContainer {
  background: orange;
  color: white
}

#homeWorkContainer {
  background: url('./images/lifestyle-project-sample-006.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
  line-height: 2em
}

#homeContactContainer {
  color: white;
  opacity: 0.5;
  height: 700px;
  background: url('./images/lv_night.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homeContactContent {
  opacity: 1;
}

#homeContactContainer h1 {
  padding-top: 100px;
}

.homeWorkContent, .homeAboutContent, .homeContactContent,
.workSpotlightContent, .workLayoutContent, .workLiveContent,
.workTestimonialContent, .teamShowcaseContent, .teamInfoContent,
.teamListContent, .teamLocationContent, .contactFormContent, .homePartnersContent {
  width: 100%;
  margin: 0 auto;
  text-align: center
}

/* HEADER COMPONENT STYLING */

#siteLogo {
  color: orange;
  line-height: 37px;
  padding: 0px;
  padding-top: 5px;
  padding-left: 15px;
}

#siteLogo img {
  width: 350px
}

#headerNavLinks, #headerNavLinks a {
  color: darkblue;
  height: 90px;
  padding: 15px 15px;
  font-size: 16px;
  line-height: 37px
}

#mainNav {
  background: none;
  border: none;
  display: none
}

#displayNav {
  background: white;
  border: none;
  display: block;
  transition: 1s ease
}

.navbar-right {
  font-size: 16px;
  line-height: 50px;
  padding: 0px 45px;
}

/* FOOTER COMPONENT STYLING */

#footerContainer {
  background: #393d40;
  height: 70px;
  padding-top: 10px;
  color: #ddd;
}

#footerContainer p {
  font-size: 13px
}

#footerContainer a {
  color: white
}

.nav-center {
  display: inline-block;
  float: none;
  padding-left: 200px
}

@keyframes fadeOut {
  0% {opacity: 1; visibility: visible}
  100% {opacity: 0; visibility: hidden}
}

/*.ei_logo {
  animation: fadeOut 0.5s 2s forwards;
}*/

#fadeInComponent {
  color: red;
  border: 20px solid green;
}

.workBlurb {
color: #393d40;
}

.teamBlurb {
  color: white
}

.workBlurb, .teamBlurb {
  text-align: left;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-feature-settings: "kern";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100%;
  position: relative;
}

.workBlurb h2 {
  color: #575a5b;
  margin-left: 20px;
}

.teamBlurb h2 {
  color: #eee
}

.workBlurb h2, .teamBlurb h2 {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.3125em;
  margin-top: 0;
  font-size: 32px
}

.workBlurb p {
  margin-left: 20px;
  font-size: 20px;
}

#instaTitle {
  text-align: center
}

.homeWorkButton {
  margin-top: 10px;
  margin-left: 3px;
  color: maroon
}

#homeTeamButton {
  margin-top: 10px;
  color: orange;
  padding-left: 0px;
  margin-left: 0px
}
