/* =+=+=+=+=+=+=+=+=+ */
/* EI SYSTEMS STYLING */
/* DECEMBER 2016      */
/* =+=+=+=+=+=+=+=+=+ */

/* APP CONTAINER STYLING */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

#root {
  overflow-x: hidden;
}

#appContainer {
  width: 100%
}

.mobileMenuModal {
  /*position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;*/
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  z-index: 99999;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.95);
}

/* HOME PAGE STYLING */

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: white;
    background-size: cover;
}

#homeContainer {
  width: 100%
}

#homeLogoContainer {
  width: 100%;
  background-color: rgba(90,90,90,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

#homeLogoContainer img {
  width: 420px;
  margin-top:-40px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1.5s 0.25s forwards;
}



/* PAGE STYLING  - CONTAINERS */

/* TODO: ONCE PROJECT GETS CLOSER, CHANGE THIS HEIGHT DEFINITION */

#homeWorkContainer,#homeAboutContainer,#homeContactContainer,#workLayoutContainer,#workTestimonialContainer, #teamShowcaseContainer, #teamInfoContainer, #teamListContainer {
  display: block;
  width: 100%;
  height: 600px;
  padding-top: 100px
}

#workSpotlightContainer {
  height: 550px;
  background: url('./images/work-page.jpg');
  background-attachment: fixed;
  background-position: 0px -200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#contactSpotlightContainer {
  height: 550px;
  background: url('./images/contact-Background.jpg');
  background-attachment: fixed;
  background-position: 0px -200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#workSpotlightContainer h1, #contactSpotlightContainer h1 {
  position: absolute;
  bottom: 0;
  font-size: 8em;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,.6);
  left: 20px;
  font-family: 'Muli', sans-serif;
}

#homePartnersContainer, #workTestimonialContainer {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 60px
}

.testimonialCarouselCard {
  background: #777;
  width: 60%;
  margin: 0 auto;
}

#homePartnersContainer {
  background: white;
  max-height: 800px;
  overflow-y: hidden;
  padding: 80px 0px;
}

#homeAboutContainer {
  background: #666;
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto
}

#homeWorkContainer {
  background: url('./images/lifestyle-work-project.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 150px 0px
}

#workLiveContainer {
  padding: 60px 0px 0px 0px;
  height: auto;
}

#contactFormContainer {
  display: block;
  width: 100%;
  margin-top: -15px
}

.contactFormSection {
  padding-bottom: 80px;
  margin-top: 90px
}

.contactFormSection h2 {
  margin-top: 10px;
  font-size: 36px
}

#workLayoutContainer, #teamInfoContainer {
  background: #f6f8f8
}

#workTestimonialContainer {
  background: orange;
  color: white
}

#homeWorkContainer {
  font-size: 1.5em;
  line-height: 2em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#homeContactContainer {
  color: white;
  height: 620px;
  background: #444;
  position: relative;
  padding: 0px;
  margin: 0 auto;
  z-index: 0;
}

#homeContactImageContainer {
  height: 620px;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  background: url('./images/lv_photo.jpeg');
  background-attachment: fixed;
  background-position: 0 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

#lvGifContainer {
  padding: 0px;
}

.lvGifContent {
  margin-top: -20px;
  height: 460px;
  background: url('./images/oie_trans.gif');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  opacity: 0.93
}

#homeContactContent {
  opacity: 1;
}

#homeContactContainer h1 {
  padding-top: 100px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.homeWorkContent, .homeAboutContent, .homeContactContent,
.workSpotlightContent, .workLayoutContent, .workLiveContent,
.workTestimonialContent, .teamShowcaseContent, .teamInfoContent,
.teamListContent, .contactFormContent {
  width: 100%;
  margin: 0 auto;
  text-align: center
}

/* CAROUSEL STYLING */

#workTestimonialCarouselContainer .workTestimonialPhoto {
  background: #777;
  height: 350px;
}

/* END CAROUSEL STYLING */

.homePartnersContent {
  width: 100%;
  margin: 0 auto;
}

.scrollPrompt {
  text-align: center;
  color: white;
  font-size: 9px;
  letter-spacing: 1px;
  bottom: 10px;
  left: 0;
  right: 0;

  position: absolute;
  margin: 0 auto;
  width: 100%;
  font-family: 'Muli', sans-serif;
}

.scrollPrompt i {
  margin-top:20px;
  font-size: 14px
}

.homeContactBlurb,.homeContactLede {
  text-shadow: 1px 1px 1px #222;
}

/* HEADER COMPONENT STYLING */

#siteLogo {
  color: orange;
  line-height: 37px;
  padding: 0px;
  padding-top: 10px;
  padding-left: 15px;
  opacity: 0
}

#siteLogo img {
  width: 250px
}

div.partnerLogos.col-xs-12 {
  max-height: 200px
}

@media screen and (min-width: 992px) {

  #contactHomeTextContainer {
    padding-top: 150px;
    margin-left: -50px
  }

  .partnersContainer {
    opacity: 0;
  }
}

#headerNavLinks, #headerNavLinks a {
  color: #333;
  height: 70px;
  padding: 12px;
  font-size: 17px;
  line-height: 40px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  text-transform: uppercase;

}

#headerNavLinks a:hover {
text-decoration: none;
border-bottom: 3px solid #FFB900;
}

#mainNav {
  background: none;
  border: none;
  visibility: hidden
}

#mainNav #headerNavLinks a {
  visibility: hidden;
}

#displayNav {
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.95);
  border-bottom: 1px solid #e5e5e5;
  visibility: visible;
  transition: 0.25s ease
}

/* FOOTER COMPONENT STYLING */

#footerContainer {
  height: 70px;
  padding-top: 10px;
  line-height: 50px;
  text-align: right;
  padding-left:20px;
  padding-right:20px;
  margin-top: -70px;
  z-index: 999999;
}

.homeFooter {
  color: #fff;
  position: absolute;
  width: 100%;
  background: transparent
}

.homeFooter p:first-child, .contactFooter p:first-child, .workFooter p:first-child {
  display: inline;
  left: 0;
  right: 0;
  float: left;
}

.homeFooter p:last-child, .contactFooter p:last-child, .workFooter p:last-child {
  display: inline;
  right: 0;
}

.contactFooter {
  color: black;
}

#appContainer .workFooter {
  background: #777;
  color: white;
  margin-top: 0px
}

.contactFooter {
  background: white
}

#footerContainer p {
  font-size: 11px
}

.nav-center {
  display: inline-block;
  float: none;
  padding-left: 200px
}

/* KEYFRAMES */

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes fadeOut {
  0% {opacity: 1; visibility: visible}
  100% {opacity: 0; visibility: hidden}
}

@keyframes fadeOutThenIn {
  0% {transform: translateX(0px); opacity: 1; visibility: visible}
  10% {transform: translateX(-20px); opacity: 0; visibility: hidden}
  92% {transform: translateX(-20px); opacity: 0; visibility: hidden}
  100% {transform: translateX(0px); opacity: 1; visibility: visible}
}

@keyframes fadeOutThenInToggle {
  0% {transform: translateX(0px); opacity: 1; visibility: visible}
  10% {transform: translateX(-20px); opacity: 0; visibility: hidden}
  92% {transform: translateX(-20px); opacity: 0; visibility: hidden}
  100% {transform: translateX(0px); opacity: 1; visibility: visible}
}

@keyframes fadeInLeftThenOut {
  0% {transform: translateX(0px); opacity: 0; visibility: hidden}
  10% {transform: translateX(50px); opacity: 1; visibility: visible}
  90% {transform: translateX(50px); opacity: 1; visibility: visible}
  100% {transform: translateX(0px); opacity: 0; visibility: hidden}
}

@keyframes fadeInLeftThenOutToggle {
  0% {transform: translateX(0px); opacity: 0; visibility: hidden}
  10% {transform: translateX(50px); opacity: 1; visibility: visible}
  90% {transform: translateX(50px); opacity: 1; visibility: visible}
  100% {transform: translateX(0px); opacity: 0; visibility: hidden}
}

@keyframes moveLeftThenRight {
  0% {transform: translateX(0px);}
  10% {transform: translateX(-50px);}
  90% {transform: translateX(-50px);}
  100% {transform: translateX(0px);}
}

@keyframes moveLeftThenRightToggle {
  0% {transform: translateX(0px);}
  10% {transform: translateX(-50px);}
  90% {transform: translateX(-50px);}
  100% {transform: translateX(0px);}
}

@keyframes fadeIn {
  0% {opacity: 0; visibility: hidden}
  100% {opacity: 1; visibility: visible}
}



@keyframes slideUp {
  0% {transform: translateY(60px); opacity: 0; visibility: hidden}
  100% {transform: translateY(0px); opacity: 1; visibility: visible}
}

@keyframes slideInRight {
  0% {transform: translateX(30px); opacity: 0;}
  100% {transform: translateX(0px); opacity: 1;}
}

@keyframes slideInLeft {
  0% {transform: translateX(0px); opacity: 0;}
  100% {transform: translateX(0px); opacity: 1;}
}

.bounce {
  -moz-animation: bounce 2s 1s infinite;
  -webkit-animation: bounce 2s 1s infinite;
  animation: bounce 2s 1s infinite;
}

.bottomLogoRow {
  margin-top: -340px;
  margin-left: 60px;
  visibility: hidden;
  opacity: 0;
}

.cediaLogo {
  width: 60%;
}

#fadeInComponent {
  color: red;
  border: 20px solid green
}

.workBlurb {
color: #393d40
}

.teamBlurb {
  color: white
}

.workBlurb, .teamBlurb, .contactBlurb, .instaBlurb, .contactFormMapBlurb, .testimonialBlurb, .testimonial, .contactTopBlurb  {
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  font-feature-settings: "kern";
  font-size: 18px;
  line-height: 1.75;
  min-height: 100%;
  position: relative
}

.testimonial {
  font-size: 18px;
  padding-top: 20px;
  background: #777;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  color: white
}

.testimonialLede {
  margin-top: 50px;
  font-family: 'Muli', sans-serif;
  font-size: 28px;
  text-align: center
}

#workTestimonialLedeContainer {
  margin-bottom: 30px
}

.contactTopBlurb {
  margin-top: -45px;
}

.contactMapMain {
  margin-bottom: -45px;
  position: relative;
}



.attribution {
  padding-right: 3%;
  font-style: italic;
  font-weight: bold;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20px;
  color: white;
  font-size: 20px
}

.testimonialBlock {
  margin: 60px 0px 60px 0px
}

.mobileMenuLinks a {
  color: #666;
  font-size: 36px;
  width:100%;
  display: block;
  padding-bottom: 40px;
  padding-left: 40px;
  font-family: 'Muli', sans-serif;
}

.mobileNavSep {
  width: 70%;
  border-top: 1px solid #ccc;
  margin-left: 40px;
}

.mobileMenuLinks {
  margin-top: 45%;
}

.mobileMenu, .mobileMenuModalButton {
  top: 20px;
  position: fixed;
  width: 23px;
  right: 15px;
  cursor: pointer;
  display: none;
  z-index: 99999999999999;
}

.mobileMenuModalButton {
  display: block
}

.contactFormMapContainer {
  margin-top: 20px
}

.contactFormMapBlurb {
  margin-top: 20px
}

.instaBlurb {
  padding: 20px 0px
}

.contactBlurb {
  opacity: 0;
  visibility: hidden
}

.workBlurb h2 {
  color: #575a5b;
  margin-left: 20px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.teamBlurb h2 {
  color: #eee;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.workBlurb h2, .teamBlurb h2, .contactTopBlurb h2 {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.3125em;
  margin-top: 0;
  font-size: 32px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.workBlurb p {
  margin-left: 20px;
  font-size: 20px;
}

.contactBlurb p, .aboutBlurb, .contactPageBlurb, .partnersBlurb {
  font-size: 20px;
  padding: 15px 0px;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

.contactBlurb p {
  padding-bottom: 0px
}

.contactPageBlurb {
  font-size: 19px;
  letter-spacing: 0.4px;
  line-height: 1.8em;
}

#instaTitle {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  text-align: right
}

.contactHeading, .companyInfo, .formWork, .contactFormMapContent h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.homeWorkButton, .homePartnersButton {
  background: #FFB900;
  margin-top: 20px;
  margin-left: 25px;
  color: white;
  transition: 0.5s all
}

.homePartnersButton {
  margin-left: 0px;
  margin-top: 40px
}

.crestronLogo, .lutronLogo {
  margin-top: -30px;
}

.lutronLogo {
  margin-right: -20px
}

.kaleidescapeLogo {
  width: 165px
}

.btn {
  width: 175px!important
}

.btn.focus, .btn:focus, .btn:hover {
  color: white!important
}

.homeWorkButton:hover {
  background: #FFCE4C;
}

.social-container {
  border-radius: 100px
}

#homeTeamButton {
  margin-top: 10px;
  color: orange;
  padding-left: 0px;
  margin-left: 0px
}

.container .contactFormInput {
  height: 60px
}

.container label {
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px
}

.companyInfo h3 {
  font-size: 17px;
  margin-top: 25px;
}

#contactButton {
  background: #FFB900;
  border: 1px solid #FFB900;
  border-radius: 3px;
  color: white;
  width: 120px;
  transition: all 0.25s;
  font-size: 19px;
  height: 55px;
  margin-top: 10px;
}

#contactButton:hover {
  background: #FFCE4C;
  border: 1px solid #FFCE4C
}

.imgRow {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}

.lastRow {
  padding-top: 70px
}

.topLeftRow {
  padding-top:50px
}

#contactHomeButton {
  background: #112c7f;
  border: 1px solid #112c7f;
  transition: 0.25s all;
  display: block;
  margin-top: 25px;
  width: 50%;
  margin-bottom: 0px;
}

#contactHomeButton:hover {
  background: #2259FE;
  border: 1px solid #2259FE
}

.social-icon:hover {
  border-bottom: none!important;
}

.navSep {
  margin-right: 15px;
  color: #393d40
}

.promiseOne, .promiseTwo, .promiseThree, .promiseFour {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 150px;
  margin: 35px auto;
}

.promiseOne i, .promiseTwo i, .promiseThree i, .promiseFour i {
  line-height: 200px;
  color: #666;
  font-size: 80px
}
.promiseText {
  color: white;
  line-height: 1.75em;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

.promiseText:not(p), #footerContainer p{
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  margin-bottom: 0px!important
}

.contactFormMapContainer .contactFormMapContent {
  text-align: left;
  padding-left: 0px;
}

.active {
  text-decoration: none;
  border-bottom: 3px solid #FFB900
}

a, a:hover, a:active, a:visited {
    text-decoration:none!important;
}

.partnersContainer h2, .homeContactLede h2, .workTestimonialLede  {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.instaTitleContainer {
  margin-bottom: 40px;
}

.overlay {
	width:100%;
	min-height:500px;
	position:absolute;
	top:0;
  pointer-events: none
}
@media screen and (max-width: 991px) {
  #contactHomeTextContainer {
    padding-top: 60px
  }

  .homeFooter p:first-child, .workFooter p:first-child, .contactFooter p:first-child {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .teamBlurb h2, .contactTopBlurb h2 {
    text-align: right;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    max-width: 150px;
  }

  .promiseContainer {
    visibility: hidden;
    opacity: 0
  }

  .contactTopBlurb h2 {
    border-right: 1px solid #333;
    padding-right: 20%;
  }

  .contactTopGraph {
    margin-left: -25px;
  }

  .partnersContainer {
    margin-left: -10px
  }

  .partnersContainer h2 {
    text-align: right;
    margin-top: 0px;
    line-height: 1.4em
  }

  .partnersContainer h2, .partnersBlurb {
    margin-top: 40px;
  }

  .partnersBlurb {
    padding-bottom: 0px;
    border-left: 1px solid #808080;
    padding-left: 25px;
    line-height: 1.75em;
    padding-top: 0px
  }

  .workBlurb h2 {
    text-align: right;
    margin-right:20px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
  }
  .aboutBlurb {
    border-left: 1px solid white;
    padding-left: 25px;
    padding-top: 0px
  }

  .promiseTop {
    margin: 10px 0px
  }

  .workBlurbGraph {
    border-left: 0.5px solid #393d40
  }

  .workBlurbGraph p {
    line-height: 2em;
    letter-spacing: 0.3px;
  }

  .homeContactLede h2, .workTestimonialLede {
    text-align: right;
    margin-top: 0px;
    line-height: 1.4em;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
  }

  .contactBlurb p {
    border-left: 1px solid white;
    padding-left: 35px;
    padding-top: 0px
  }


  #instaTitle {
    margin-top: 0px
  }

  .instaBlurb {
    padding-top: 0px;
    border-left: 1px solid #393d40;
    padding-left: 25px
  }

  .testimonialBlurb {
    padding: 0px 0px 60px 25px;
    border-left: 1px solid white
  }

}

@media screen and (max-width: 767px) {

  .testimonial {
    font-size: 16px;
    width: 100%;
  }

  .testimonialCarouselCard {
    width: 80%
  }

  .testimonialLede {
    margin-top: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    text-align: center
  }

  #workTestimonialLedeContainer {
    margin-bottom: 30px
  }

  .attribution {
    width: 100%;
    font-size: 16px
  }
















  #homeWorkContainer {
    padding: 50px 0px;
    background-position: 0px;
    background-attachment: scroll;
  }

  #homeContactContainer {
    background: #333;
    height: 500px
  }

  #homeContactImageContainer {
    background-position: -95px 0px;
    background-attachment: scroll;
    opacity: 0.2;
    height: 500px
  }

  #instaTitle {
    text-align: left
  }

  .socialFeed {
    width: 95%;
  }

  .postItem {
    width: 100%
  }

  .instaBlurb, .workBlurb p, .partnersBlurb, .aboutBlurb, .contactBlurb p {
    font-size: 16px;
  }

  #workSpotlightContainer, #contactSpotlightContainer {
    height: 250px;
    background-attachment: scroll;
    background-position: 0px;
  }

  #homeLogoContainer img {
    width: 350px;
  }

  #siteLogo {
    width: 100%;
    padding-left: 0px;
  }

  #siteLogo img {
    margin: 0 auto;
    width: 215px;
  }

  #displayNav {
    height: 65px
  }

  .mobileMenu {
    display: block;
  }

  #workSpotlightContainer h1, #contactSpotlightContainer h1 {
    font-size: 4em
  }
}
